* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.icon {
  color: lightgray;
  cursor: pointer;
}

.calander {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.hotel-calander {
  background-color: white;
}
